{% extends 'base.html.twig' %}

{% block title %}Edition Bien{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="text-center">Edition Bien</h1>
        <a href="{{ path('property_index') }}">Retour à la liste des biens</a>

        {{ include('property/_form.html.twig', {'button_label': 'Mettre à jour'}) }}
    </div>
{% endblock %}
