{% extends 'base.html.twig' %}

{% block title %}New Property{% endblock %}

{% block body %}
    <h1>Nouveau bien</h1>
    <a href="{{ path('property_index') }}">Retour à la liste des biens</a>

    {{ include('property/_form.html.twig') }}

{% endblock %}
